<!DOCTYPE html>
<html>
<head>
    <title>List of Schools</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <img src="/static/header.jpg" width="100%" height="180px"/>
    <div class="bbox"></div>
    <div class="header1"></div>
    <div class="header2"></div>
    <div class="header3"></div>
    <table style="position:absolute;top:370px;left:3%;right:3%;width:94%">
    {% if result != "Wrong pincode" %}
    <tr>
        <th>District Name</th>
        <th>Block Name</th>
        <th>Village Name</th>
        <th>School Name</th>
        <th>School Management</th>
        <th>School Category</th>
        <th>Rural Urban</th>
        <th>Pincode</th>
        <th>Estd. year</th>
        <th>Year recog</th>
    </tr>
	{% for row in result %}
	<tr>
    {% for entry in row %}
    <td>
    	{{ entry }}
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    <p>Wrong pincode</p>
    {% endif %}

    </table>
</body>
</html>